

/*
*/




header h1{
  font-family: "boheme_floralregular", cursive;
  font-variant: normal;
  text-transform: none;
  font-variant-ligatures: contextual;
  letter-spacing: normal;
  font-size: 4.0em;
  line-height: 1.0;
  font-weight: 500;
}
body, input, select, textarea {
  font-family: "edwin","Optima", serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.65;
}


#header nav ul li a {
    font-weight: bold;
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    border-bottom: 0;
}

#header nav.use-middle:after {
  content: none;

}

#header nav.use-middle ul li.is-middle {
  border-left: inherit;
}

#header p.data{
  position: absolute;
  top: -1.4rem;
  width: 100%;

}
#header img{
  max-width: 100%;
  display: block;
}

#bg{
  opacity: 50%;
}
body {
  background: white;
}

#wrapper::before{
  content: none;
}

footer{
  position: absolute;
  bottom: 4px;
  right: 4px;
}

#footer .copyright{
  text-align: right;
  font-size: 9px;
}







#main article {
  background-color: #FCD2D244;
  border: 1px solid #365B76;
}

  #main article .close:before {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23365B76%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");

  }

#main article h2{
  font-family: "edwin", "Optima", serif;

}

#main article a{
  color: #9F1D35;
  font-style: italic;
  border-bottom: dotted 1px #9F1D35;

}
#main article a:visited{
  color: #889DAE;
  font-style: italic;
  border-bottom: dotted 1px #9F1D35;

}


#dataBig{
  text-align: center;
  font-size: 3em;
  font-style: italic;
  background-color: rgba(255, 245, 245,0.5);
  padding: 1em 1em 1em 0px;
  border-radius: 40px;
  position: relative;
  text-align: right
}
#dataBig::after {
  content: "";
  background: url("../../images/colombo.png");
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 40px;

}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #889DAE !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #889DAE !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: ##889DAE !important;
}

ul.actions{
  float: right;
}

textarea{
  resize: none;
}

input[type="submit"].primary, input[type="reset"].primary, input[type="button"].primary, button.primary, .button.primary {
    background-color: rgba(235, 147, 153,0.2);
    opacity: 0.8;
    color: #365B76 !important;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 1rem;
}

label{
  letter-spacing: 0.1rem;
}

input[type="submit"].primary:hover, input[type="reset"].primary:hover, input[type="button"].primary:hover, button.primary:hover, .button.primary:hover {
  opacity: 1;
  background-color: rgba(235, 147, 153, 0.3);
  box-shadow: 0 0 0 2px var(--textcolor);
}

p.error{
  color: #9F1D35;
  font-weight: bold;
}
input.error{
  border-color: #9F1D35;
}
div#successo p{
  text-align: center;
  font-size: 1.5em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(54,91,119, 0.2);
  border-right: 1.1em solid rgba(54,91,119, 0.2);
  border-bottom: 1.1em solid rgba(54,91,119, 0.2);
  border-left: 1.1em solid #365b77;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




.noScript{
  display: none;
}
.supersmall {
  display: none;
}

@media screen and (max-width: 479px) {
  #dataBig{
    padding: 0.5em 1em;
  }

  .nosupersmall {
    display: none;
  }
  .supersmall {
    display: initial;
  }

}
