/* // NO SCRIPT */

.noScript{
  display: block !important;
}
#rsvpForm{
  display: none !important;
}
#sticker{
  display: none !important;
}


div.mainaction{
  position: static !important;
  opacity: 1 !important;
}
